@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    min-height: 100vh;
  }
}
